body {
    background-image: url(/Users/rosemcclain/Documents/UCF/HOMEWORK/Trivia-Game/assets/images/7c31052768c5ed41602ede538fb87dcb.jpg);
    background-size: cover;
    color:black;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*text-align: center;*/
}

.jumbotron {
    width: 60%;
}